body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial;
    margin: 80px auto;
}

.container {
    background: white;
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: rgb(0, 0, 13);
}

p {
    color: #555;
    font-size: 18px;
}

button {
    background-color: #4585dd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}